@media (min-width: 700px) {
  nav {
    display: flex !important;
    justify-content: center;
    gap: 1rem;
  }

  #menu-toggle {
    display: none;
  }

  .temple-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
